{{#if model.matured}}
<h4>Olgunlaşmış Bloklar</h4>
<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th>Blok No</th>
      <th>Blok Hash</th>
      <th>Bulma Zamanı</th>
      <th>Şans</th>
      <th>Ödül</th>
      <th>Tür</th>
    </tr>
  </thead>
  <tbody>
    {{#each model.matured as |block|}}
      {{partial "blocks/block"}}
    {{/each}}
  </tbody>
</table>
{{else}}
<h3>Henüz Olgunlaşmış Blok Yok</h3>
{{/if}}
