<div class="container">
  <div class="page-header">
    <h1>Hakkımızda</h1>
  </div>
  <h3>Kullanım Şartları</h3>
  <p>Bu havuzu kullanarak deneysel anlam taşıyan yazılımların oluşturacağı olası riskleri kabul etmiş sayılırsınız.<br/>
     Havuz sahibi oluşabilecek geri döndürülemez kayıplardan sorumlu tutulamaz, yaptığı işlemin sorumluluğu kullanıcıya aittir.
  </p>
  <h3>Detaylar</h3>
  <p>
    <ul>
      <li>Türkiye lokasyonlu sunucu ile düşük ping</li>
      <li>Yüksek performanslı proxy ile verim artışı</li>
      <li>Mobil uygulama desteği ile her noktadan kontrol</li>
      <li>Şeffaf iletişim</li>
      <li>Güvenli ödeme</li>
      <li>TÜM MADENCİLERİMİZE BOL KAZANÇLAR</li>
    </ul>
  </p>
</div>
